body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
  color: #666699;
  line-height: 1;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    text-transform: uppercase; }
  body a {
    transition-duration: 1s;
    color: #66cccc; }
    body a:hover {
      color: #2288a8; }
    body a:active {
      color: black; }

.main-wrapper {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0; }

header {
  position: relative; }
  header .logo {
    display: inline-block;
    width: 50%; }
    header .logo img {
      width: 100%; }
  header nav {
    position: absolute;
    display: inline-block;
    width: 60%;
    padding: 15px 0;
    top: 150px;
    border-bottom: 1px solid #666699;
    border-top: 1px solid #666699;
    text-align: center; }
    header nav a {
      font-size: 25px;
      text-decoration: none;
      padding: 0 50px; }

.toolbar {
  text-align: right; }
  .toolbar input {
    border: 2px solid;
    border-color: #66cccc;
    padding: 15px;
    color: #66cccc;
    background: #ffffff;
    font-size: 20px; }
  .toolbar input::placeholder {
    color: #339999; }

.post-list {
  width: 100%;
  box-sizing: border-box; }
  .post-list article:nth-child(2n-1) {
    vertical-align: top;
    margin: 15px 25px 10px 0; }
  .post-list article:nth-child(2n) {
    vertical-align: top;
    margin: 15px 0 10px 25px; }
  .post-list article {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    background: #efefef;
    width: 50%;
    padding: 15px; }
    .post-list article img {
      width: 100%; }
    .post-list article .post_descript_colorcription {
      color: #009999;
      padding-bottom: 20px;
      border-bottom: 1px solid #666699; }
    .post-list article h3 {
      color: #009999; }

.about {
  width: 100%;
  margin-bottom: 50px; }
  .about h1 {
    color: #2aabd2;
    text-align: right; }
  .about img {
    width: 100%; }

.contact-form {
  text-align: right;
  width: 100%; }
  .contact-form h1, .contact-form h4 {
    margin: 0;
    text-align: right;
    color: #2aabd2; }
  .contact-form form {
    margin-top: 10px; }
  .contact-form input, .contact-form textarea {
    border: 1px solid;
    border-color: #666699;
    background: #ffffff;
    box-sizing: border-box;
    font-size: 20px;
    font: 500 20px Arial;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    color: #666699; }
  .contact-form textarea::placeholder {
    font: 500 20px Arial; }
  .contact-form input[type="submit"] {
    transition-duration: 1s;
    cursor: pointer;
    border: transparent;
    background: #2aabd2;
    color: white;
    width: 30%; }
    .contact-form input[type="submit"]:hover {
      background: #2288a8; }
    .contact-form input[type="submit"]:active {
      background: black; }

footer {
  font-size: 15px; }

/*# sourceMappingURL=style1.css.map */
