$font_family: Georgia, Helvetica, serif;
$background_color: #efefef;
$text_color: #757575;
$border_color: #cfd8dc;
$a_color: #fc644a;
$search: $a_color;
$article_background: #ffffff;
$post_descript_color: #bdbdbd;
$h3_color: #617e8c;
$h1_color: #2aabd2;
$button_background_color: $h1_color;