$font_family: Arial, Helvetica, sans-serif;
$background_color: #ffffff; 
$text_color: #666699;
$border_color: $text_color;
$a_color: #66cccc;
$search: $a_color;
$article_background: #efefef;
$post_descript_color: #009999;
$h3_color: #009999;
$h1_color: #2aabd2;
$button_background_color: $h1_color;